.period {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(207,207,207,0.4);
   
}