

.input{
    margin: 30px;
}

.resultat{
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

h1{
    text-align: center;
    margin-bottom: 20px;
}